body {
    font-family: Arial, sans-serif;
    background: #eaf6ff;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

.weather-container {
    background: white;
    width: 350px;

    padding: 30px;
    text-align: center;

    border-radius: 15px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 25px;
}

input {
    width: 90%;
    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 8px;

    font-size: 16px;
}

button {
    margin-top: 15px;

    padding: 12px 25px;

    border: none;
    border-radius: 8px;

    background: #2196f3;
    color: white;

    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #1976d2;
}

#weatherResult {
    margin-top: 25px;
}

#cityName {
    font-size: 25px;
}

#temperature {
    font-size: 22px;
}

p {
    font-size: 18px;
}
#weatherIcon {
    width: 120px;
    height: 120px;
    display:block;
    margin: 5px auto;
}

#weatherResult {
    margin-top: 25px;
    padding: 20px;
    border-radius: 12px;
    background: #f5faff;
}

#cityName {
    font-size: 26px;
    margin-bottom: 5px;
}

#temperature {
    font-size: 22px;
    font-weight: bold;
}

#humidity,
#condition {
    font-size: 18px;
}